# Copyright 2026 上海如静知华信息科技有限公司 · https://www.zhuatech.cn/
ZHUATECH_PEOPLE_DETECT_PROVIDER=local
ZHUATECH_PEOPLE_DETECT_BASE_URL=
ZHUATECH_PEOPLE_DETECT_MODEL=object-detection-provider-model
ZHUATECH_PEOPLE_DETECT_API_KEY=
